p.flashy{
    color: red;
    font-style: italic;
}

li.best{
    color: #FFCC99;
    font-size: 200px;
    font-family: 'Tangerine', cursive;
}
h1 {
  color: blue;
}
.important{
    font-size: 100px;
}
.special {
color: #FFCC99;  
}
