p.flashy{
    color: red;
    font-style: italic;
}

p.best{
    color: #FFCC99;
    font-size: 100px;
    font-family: 'Tangerine', cursive;
}
h1 {
  color: blue;
}
.important{
    font-size: 50px;
}
.special {
color: #FFCC99;
}
img {
float: center;
}
.sidebar {
  width: 5%;
  float:right;
  background-color: yellow;
}
.headersize {
  font size: 575px;
}
.column {
  width: 300px;
  float: left;
}
.column-right{
  width:300px;
  float:right;
}
